.appear{
    width: 500px;
   
}

.hidden{
    display: none;
}
.active {
        background-color: aqua;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        display: inline-block;
        }
